/* Start https://www.cursors-4u.com */
* {
	cursor: url(https://cur.cursors-4u.net/nature/nat-4/nat355.ani), 
	url(https://cur.cursors-4u.net/nature/nat-4/nat355.png), 
	auto !important;
}

/* End https://www.cursors-4u.com */

/* Default colors */
:root {
	--color: #011523;
	--background: #d6fcfc;
	
	--link: #23237b;
	--linkhover: #8DA399;
	
	--formbg:#f4f1e9;
	--formcolor:#212c2c;
	
	--accentbg:#e0d9c6;
	--hr: #bb9860;
}

/* Alternate colors */
/* Replace "dark" with "light" and add your light mode colors here if you want your site to be in dark mode by default */
@media (prefers-color-scheme: dark) {
	:root {
		--color:#DCD7C9;
		--background:#2C3639;
		
		--link:#76ABDF;
		--linkhover:#cca376;
		
		--formbg:#232c2f;
		--formcolor:#DCD7C9;
		
		--accentbg:#232c2f;
		--hr: #5b7e81;
	}
}

/* ------ The rest of the code starts here ------- */

* { margin: 0; padding: 0; transition:0.5s ease;}

#container {
	margin: 20px auto;
	padding: 20px;
}

body {
	color: var(--color);
	background: var(--background);
	font: 14pt sans-serif;
	letter-spacing: .35px;
}

/* Header */

header {
	font-size: 1.3em;
	text-align: center;
	font-style: italic;
}

/* Header links */

header ul {
	list-style: none;
	margin: 0;
}

header li {
	display: inline-block;
	margin: 0px 10px 0px 0px;
	font-family: Georgia, Times New Roman, serif;
}


img { margin:5px; max-width:80%; }



main {
	padding:20px;
	width:90%;
	max-width:800px;
	margin:auto;
}

a {
	color:var(--link);
}

a:hover {
	color: var(--linkhover);
}

li a {
	text-decoration:none;
}

p {
	margin:10px 0px 10px 0px;
	line-height:1.5;
}

main h1 {
	font:26pt Georgia, Times New Roman, serif;
	margin:5px 0 5px 0;
}

main h2 {
	margin:10px 0 10px 0;
	font:23pt Georgia, Times New Roman, serif;
}

main h3 {
	margin:5px 0 5px 0;
	font: 18.5pt Georgia, Times New Roman, serif;
}

main h4 {
	font:13pt Georgia, Times New Roman, serif;
	font-style:italic;
	margin:5px 0 20px 0;
}

main input, textarea, select, button { 
	background: var(--formbg);  
	color: var(--formcolor);
	font: 12pt sans-serif; 
	border: 1px solid var(--hr); 
	padding: 5px; 
	margin: 5px;
	border-radius:5px;
}

main textarea {
	width:90%;
}

input[type="submit"], input[type="reset"] {
	font-size:13pt;
	background:var(--accentbg);
}

input[type="submit"]:hover, input[type="reset"]:hover {
	background:var(--hr);
	cursor:pointer;
}

main table {
	margin:10px auto 10px auto;
	padding:5px;
	width:100%;
	border-collapse:collapse;
}

main th {
	border-bottom:1px solid var(--hr);
	padding:5px;
	text-align:left;
}

main td {
	padding:3px;
}

main tr:nth-child(2n) {
	background:var(--accentbg);
}

main ul, ol { 
	list-style-position: outside;
	margin: 8px 0 8px 20px;
}

main li {
	margin:5px 0 5px 0;
	line-height:1.5;
}

main ul li ul, main ol li ol {
	margin-left:15px;
}

main blockquote {
	padding:10px;
	border-left:10px solid var(--hr);
	background:var(--accentbg);
}

main blockquote cite {
	font-size:11pt;
	position:relative;
	right:0;
}

main summary {
	cursor:pointer;
	margin: 5px 0px 5px 0px;
}

main details {
	padding:10px;
	background:var(--accentbg);
	margin:5px 0 5px 0;
    border-radius:5px;
}

main hr {
	border:0.5px solid var(--hr);
    margin:20px auto 20px auto;
}

main pre {
	padding:10px;
	background:var(--accentbg);
	margin:10px auto 10px auto;
	border-radius:5px;
	overflow:auto;
}

main footer {
	text-align:center;
	border-top: 0.5px solid var(--hr);
	margin-top:10px;
	padding:10px;
}

/* #site-updates {
	max-height: 300px;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--formbg) var(--link);
	font-size: 17px;
	padding: 20px;
	border-style: dashed;
}*/

@media (prefers-color-scheme: dark) {

	main img {
		opacity:0.6;
	}
	
	main img:hover {
		opacity:1;
	}

	main a img:hover {
		opacity:1;
	}
}

/* 
< !-- THIS IS THE CSS !--><style>
/* user styles */

/* styles are what change the color and sizes of stuff on your site. */

/* these are variables that are being used in the code
    these tended to confuse some people, so I only kept 
    the images as variables */

:root {
	--header-image: url('https://sadhost.neocities.org/images/layouts/wp.jpeg');
	--body-bg-image: url('https://sadhost.neocities.org/images/tiles/purplesky.gif');

	/* colors */
	--content: #43256E;
}

/* if you have the URL of a font, you can set it below */
/* feel free to delete this if it's not your vibe */

/* this seems like a lot for just one font and I would have to agree 
but I wanted to include an example of how to include a custom font.
If you download a font file you can upload it onto your Neocities
and then link it! Many fonts have separate files for each style
(bold, italic, etc. T_T) which is why there are so many!

*/

@font-face {
	font-family: Nunito;
	src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
	font-family: Nunito;
	src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Nunito;
	src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: Nunito;
	src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
	font-style: italic;
	font-weight: bold;
}

body {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	background-color: #08031A;
	/* you can delete the line below if you'd prefer to not use an image */
	background-size: 65px;
	color: #fceaff;
	background-image: var(--body-bg-image);
}

* {
	box-sizing: border-box;
}

/* below this line is CSS for the layout */

/* this is a CSS comment
to uncomment a line of CSS, remove the * and the /
before and after the text */


/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
#container {
	max-width: 900px;
	/* this is the width of your layout! */
	/* if you change the above value, scroll to the bottom
  and change the media query according to the comment! */
	margin: 0 auto;
	/* this centers the entire page */
}

/* the area below is for all links on your page
EXCEPT for the navigation */
#container a {
	color: #ED64F5;
	font-weight: bold;
	/* if you want to remove the underline
  you can add a line below here that says:
  text-decoration:none; */
}

#header {
	width: 100%;
	background-color: #5e4e8c;
	/* header color here! */
	height: 150px;
	/* this is only for a background image! */
	/* if you want to put images IN the header, 
  you can add them directly to the <div id="header"></div> element! */
	background-image: var(--header-image);
	background-size: 100%;
}

/* navigation section!! */
#navbar {
	height: 40px;
	background-color: #13092D;
	/* navbar color */
	width: 100%;
}

#navbar ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: space-evenly;
}

#navbar li {
	padding-top: 10px;
}

/* navigation links*/
#navbar li a {
	color: #ED64F5;
	/* navbar text color */
	font-weight: 800;
	text-decoration: none;
	/* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
	color: #a49cba;
	text-decoration: underline;
}

#flex {
	display: flex;
}

/* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
aside {
	background-color: #241445;
	width: 200px;
	padding: 20px;
	font-size: smaller;
	/* this makes the sidebar text slightly smaller */
}


/* this is the color of the main content area,
between the sidebars! */
main {
	background-color: #43256E;
	flex: 1;
	padding: 20px;
	order: 2;
}

/* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

*/ #leftSidebar {
	order: 1;
}

#rightSidebar {
	order: 3;
}

footer {
	background-color: #13092D;
	/* background color for footer */
	width: 100%;
	height: 40px;
	padding: 10px;
	text-align: center;
	/* this centers the footer text */
}

h1,
h2,
h3 {
	color: #ED64F5;
}

h1 {
	font-size: 25px;
}

strong {
	/* this styles bold text */
	color: #ED64F5;
}

/* this is just a cool box, it's the darker colored one */
.box {
	background-color: #13092D;
	border: 1px solid #ED64F5;
	padding: 10px;
}

/* CSS for extras */

#topBar {
	width: 100%;
	height: 30px;
	padding: 10px;
	font-size: smaller;
	background-color: #13092D;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 800px) {
	#flex {
		flex-wrap: wrap;
	}

	aside {
		width: 100%;
	}

	/* the order of the items is adjusted here for responsiveness!
  since the sidebars would be too small on a mobile device.
  feel free to play around with the order!
  */
	main {
		order: 1;
	}

	#leftSidebar {
		order: 2;
	}

	#rightSidebar {
		order: 3;
	}

	#navbar ul {
		flex-wrap: wrap;
	}
}

</style>

/* Status Cafe*/

#statuscafe {
	padding: .5em;
	background-color: azure;
	border: 1px solid midnightblue;
}

#statuscafe-username {
	margin-bottom: .5em;
}

#statuscafe-content {
	margin: 0 1em 0.5em 1em;
}