/* Start https://www.cursors-4u.com */
* {
	cursor: url(https://cur.cursors-4u.net/nature/nat-4/nat355.ani), 
	url(https://cur.cursors-4u.net/nature/nat-4/nat355.png), 
	auto !important;
}

/* End https://www.cursors-4u.com */

/* Default colors */
:root {
	--color: #011523;
	--background: #d6fcfc;
	
	--link: #23237b;
	--linkhover: #8DA399;
	
	--formbg:#f4f1e9;
	--formcolor:#212c2c;
	
	--accentbg:#e0d9c6;
	--hr: #bb9860;
}

/* Alternate colors */
/* Replace "dark" with "light" and add your light mode colors here if you want your site to be in dark mode by default */
@media (prefers-color-scheme: dark) {
	:root {
		--color:#DCD7C9;
		--background:#2C3639;
		
		--link:#76ABDF;
		--linkhover:#cca376;
		
		--formbg:#232c2f;
		--formcolor:#DCD7C9;
		
		--accentbg:#232c2f;
		--hr: #5b7e81;
	}
}

/* ------ The rest of the code starts here ------- */

* { 
	margin: 0; 
	padding: 0; 
	transition:0.5s ease;
	box-sizing: border-box;
}

#container {
	margin: 1.072em auto;
	padding: 1.072em;
}

body {
	color: var(--color);
	background: var(--background);
	font: 18px sans-serif;
	letter-spacing: .35px;
}

#skip a {
	position: absolute;
	display: inline-block;
	left: 0em;
	top: -53.58em;
	overflow: hidden;
	transition: top 0.5s ease;
	background: var(--background);
	color: var(--link);
	z-index: 1000;
	padding: 0.268em;
}

#skip a:focus {
	top: 0;
	transition: top 0.5s ease;
}

/* Header */

header {
	font-family: sans-serif;
	font-size: 1.55rem;
	text-align: center;
}

header ul {
	margin: 0;
}

header li {
	display: inline-block;
	margin: 0em 0.536em 0em 0rem;
	font-family: Georgia, 'Times New Roman', serif;
	border-bottom: 1px dashed var(--link);
	font-weight: 500;
}

header .home {
	text-decoration: none;
}

header a:hover{
	font-style: italic;
}

/* Universal Styles */

p {
	margin: 0.536em 0em 0.536em 0em;
	line-height: 1.5;
}

a {
	color: var(--link);
}

a:hover {
	color: var(--linkhover);
}

li a {
	text-decoration: none;
}

img { 
	margin: 0.268em; 
	max-width: 80%; 
}

input[type="submit"],
input[type="reset"] {
	font-size: 0.929em;
	background: var(--accentbg);
}

input[type="submit"]:hover,
input[type="reset"]:hover {
	background: var(--hr);
	cursor: pointer;
}

time{
	font-weight: 700;
	font-style: italic;
}

/* Main area Styles */

main {
	padding: 1.072em;
	width: 90%;
	max-width: 50rem;
	margin: auto;
}

main h1 {
	font: 1.857em Georgia, Times New Roman, serif;
	margin: 0.268em 0 0.268em 0;
}

main h2 {
	margin:0.536em 0 0.536em 0;
	font: 1.643em Georgia, Times New Roman, serif;
}

main h3 {
	margin:0.268em 0 0.268em 0;
	font: 1.321em Georgia, Times New Roman, serif;
}

main h4 {
	font: 0.929em Georgia, Times New Roman, serif;
	font-style:italic;
	margin:0.268em 0 1.072em 0;
}

main input, textarea, select, button { 
	background: var(--formbg);  
	color: var(--formcolor);
	font: 0.857em sans-serif; 
	border: 0.054em solid var(--hr); 
	padding: 0.268em; 
	margin: 0.268em;
	border-radius:0.268em;
}

main textarea {
	width:90%;
}

main table {
	margin:0.536em auto 0.536em auto;
	padding:0.268em;
	width:100%;
	border-collapse:collapse;
}

main th {
	border-bottom: 0.054em solid var(--hr);
	padding:0.268em;
	text-align:left;
}

main td {
	padding: 0.161em;
}

main tr:nth-child(2n) {
	background:var(--accentbg);
}

main ul, ol { 
	list-style-position: outside;
	margin: 0.429em 0 0.429em 1.072em;
}

main li {
	margin:0.268em 0 0.268em 0;
	line-height: 1.5;
}

main ul li ul, main ol li ol {
	margin-left:0.804em;
}

main blockquote {
	padding:0.536em;
	border-left:0.536em solid var(--hr);
	background:var(--accentbg);
}

main blockquote cite {
	font-size: 0.786em;
	position:relative;
	right:0;
}

main summary {
	cursor:pointer;
	margin: 0.268em 0em 0.268em 0em;
}

main details {
	padding:0.536em;
	background:var(--accentbg);
	margin:0.268em 0 0.268em 0;
    border-radius:0.268em;
}

main hr {
	border:0.0.268em solid var(--hr);
    margin:1.072em auto 1.072em auto;
}

main pre {
	padding:0.536em;
	background:var(--accentbg);
	margin:0.536em auto 0.536em auto;
	border-radius:0.268em;
	overflow:auto;
}

/* #site-updates {
	max-height: 18.75rem;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--formbg) var(--link);
	font-size: 1.0625rem;
	padding: 1.25rem;
	border-style: dashed;
}*/

/* Classes */

.no-bullets {
	list-style-type: "";
}

.centered {
	text-align: center;
}

.btn a {
	padding: 0.6em;
	text-decoration: none;
	border: 0.1em solid var(--hr);
	display: inline-block;
	margin: 0.3em auto;
}

.naked{
	text-decoration: none;
}

/* IDs */

#statuscafe {
	padding: .5em;
	background-color: var(--accentbg);
	border: 0.054em dashed var(--hr);
}

#statuscafe-username {
	margin-bottom: 0.5em;
}

#statuscafe-content {
	margin: 0 1em 0.5em 1em;
}

#bumper-stickers {
	max-width: fit-content;
	scale: 0.7;
}

#other-stickers {
	max-width: fit-content;
}

.outlink-imgs {
	max-width: fit-content;
	scale: 1.25;
}


/* Footer */

footer {
	text-align: center;
	border-top: 0.5px solid var(--hr);
	padding: 0.625rem;
}

/* Dark Theme-only Styles */

@media (prefers-color-scheme: dark) {

	main img {
		opacity:0.6;
	}
	
	main img:hover {
		opacity:1;
	}

	main a img:hover {
		opacity:1;
	}
}