/* Start https://www.cursors-4u.com */
* {
	cursor: url(https://cur.cursors-4u.net/nature/nat-4/nat355.ani), 
	url(https://cur.cursors-4u.net/nature/nat-4/nat355.png), 
	auto !important;
}

/* End https://www.cursors-4u.com */

/* Default colors */
:root {
	--color: #011523;
	--background: #d6fcfc;
	
	--link: #23237b;
	--linkhover: #8DA399;
	
	--formbg:#f4f1e9;
	--formcolor:#212c2c;
	
	--accentbg:#e0d9c6;
	--hr: #bb9860;
}

/* Alternate colors */
/* Replace "dark" with "light" and add your light mode colors here if you want your site to be in dark mode by default */
@media (prefers-color-scheme: dark) {
	:root {
		--color:#DCD7C9;
		--background:#2C3639;
		
		--link:#76ABDF;
		--linkhover:#cca376;
		
		--formbg:#232c2f;
		--formcolor:#DCD7C9;
		
		--accentbg:#232c2f;
		--hr: #5b7e81;
	}
}

/* ------ The rest of the code starts here ------- */

* { margin: 0; padding: 0; transition:0.5s ease;}

#container {
	margin: 1.25rem auto;
	padding: 1.25rem;
}

body {
	color: var(--color);
	background: var(--background);
	font: 1.166rem sans-serif;
	letter-spacing: 0.021875rem;
}

/* Header */

header {
	font-size: 1.52rem;
	text-align: center;
	font-style: italic;
}

/* Header links */

header ul {
	list-style: none;
	margin: 0;
}

header li {
	display: inline-block;
	margin: 0rem 0.625rem 0rem 0rem;
	font-family: Georgia, Times New Roman, serif;
}


img { margin:0.3125rem; max-width:80%; }



main {
	padding:1.25rem;
	width:90%;
	max-width:50rem;
	margin:auto;
}

a {
	color:var(--link);
}

a:hover {
	color: var(--linkhover);
}

li a {
	text-decoration:none;
}

p {
	margin:0.625rem 0rem 0.625rem 0rem;
	line-height:1.5;
}

main h1 {
	font:2.166rem Georgia, Times New Roman, serif;
	margin:0.3125rem 0 0.3125rem 0;
}

main h2 {
	margin:0.625rem 0 0.625rem 0;
	font:1.916rem Georgia, Times New Roman, serif;
}

main h3 {
	margin:0.3125rem 0 0.3125rem 0;
	font: 1.541rem Georgia, Times New Roman, serif;
}

main h4 {
	font:1.083rem Georgia, Times New Roman, serif;
	font-style:italic;
	margin:0.3125rem 0 1.25rem 0;
}

main input, textarea, select, button { 
	background: var(--formbg);  
	color: var(--formcolor);
	font: 1rem sans-serif; 
	border: 0.0625rem solid var(--hr); 
	padding: 0.3125rem; 
	margin: 0.3125rem;
	border-radius:0.3125rem;
}

main textarea {
	width:90%;
}

input[type="submit"], input[type="reset"] {
	font-size:1.083rem;
	background:var(--accentbg);
}

input[type="submit"]:hover, input[type="reset"]:hover {
	background:var(--hr);
	cursor:pointer;
}

main table {
	margin:0.625rem auto 0.625rem auto;
	padding:0.3125rem;
	width:100%;
	border-collapse:collapse;
}

main th {
	border-bottom:0.0625rem solid var(--hr);
	padding:0.3125rem;
	text-align:left;
}

main td {
	padding:0.1875rem;
}

main tr:nth-child(2n) {
	background:var(--accentbg);
}

main ul, ol { 
	list-style-position: outside;
	margin: 0.5rem 0 0.5rem 1.25rem;
}

main li {
	margin:0.3125rem 0 0.3125rem 0;
	line-height:1.5;
}

main ul li ul, main ol li ol {
	margin-left:0.9375rem;
}

main blockquote {
	padding:0.625rem;
	border-left:0.625rem solid var(--hr);
	background:var(--accentbg);
}

main blockquote cite {
	font-size:0.916rem;
	position:relative;
	right:0;
}

main summary {
	cursor:pointer;
	margin: 0.3125rem 0rem 0.3125rem 0rem;
}

main details {
	padding:0.625rem;
	background:var(--accentbg);
	margin:0.3125rem 0 0.3125rem 0;
    border-radius:0.3125rem;
}

main hr {
	border:0.03125rem solid var(--hr);
    margin:1.25rem auto 1.25rem auto;
}

main pre {
	padding:0.625rem;
	background:var(--accentbg);
	margin:0.625rem auto 0.625rem auto;
	border-radius:0.3125rem;
	overflow:auto;
}

main footer {
	text-align:center;
	border-top: 0.03125rem solid var(--hr);
	margin-top:0.625rem;
	padding:0.625rem;
}

/* #site-updates {
	max-height: 18.75rem;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--formbg) var(--link);
	font-size: 1.0625rem;
	padding: 1.25rem;
	border-style: dashed;
}*/

@media (prefers-color-scheme: dark) {

	main img {
		opacity:0.6;
	}
	
	main img:hover {
		opacity:1;
	}

	main a img:hover {
		opacity:1;
	}
}
