/* Start https://www.cursors-4u.com */
* {
	cursor: url(https://cur.cursors-4u.net/nature/nat-4/nat355.ani), 
	url(https://cur.cursors-4u.net/nature/nat-4/nat355.png), 
	auto !important;
}

/* End https://www.cursors-4u.com */

/* Default colors */
:root {
	--color: #011523;
	--background: #d6fcfc;
	
	--link: #23237b;
	--linkhover: #8DA399;
	
	--formbg:#f4f1e9;
	--formcolor:#212c2c;
	
	--accentbg:#e0d9c6;
	--hr: #bb9860;
}

/* Alternate colors */
/* Replace "dark" with "light" and add your light mode colors here if you want your site to be in dark mode by default */
@media (prefers-color-scheme: dark) {
	:root {
		--color:#DCD7C9;
		--background:#2C3639;
		
		--link:#76ABDF;
		--linkhover:#cca376;
		
		--formbg:#232c2f;
		--formcolor:#DCD7C9;
		
		--accentbg:#232c2f;
		--hr: #5b7e81;
	}
}

/* ------ The rest of the code starts here ------- */

* { margin: 0; padding: 0; transition:0.5s ease;}

#container {
	margin: 20px auto;
	padding: 20px;
}

body {
	color: var(--color);
	background: var(--background);
	font: 14pt sans-serif;
	letter-spacing: .35px;
}

#skip a {
	position: absolute;
	display: inline-block;
	left: 0px;
	top: -1000px;
	overflow: hidden;
	transition: top 0.5s ease;
	background: var(--background);
	color: var(--link);
	z-index: 1000;
	padding: 5px;
}

#skip a:focus {
	top: 0;
	transition: top 0.5s ease;
}

/* Header */

header {
	font-size: 1.3em;
	text-align: center;
	font-style: italic;
}

/* Header links */

header ul {
	list-style: none;
	margin: 0;
}

header li {
	display: inline-block;
	margin: 0px 10px 0px 0px;
	font-family: Georgia, Times New Roman, serif;
}


img { margin:5px; max-width:80%; }



main {
	padding:20px;
	width:90%;
	max-width:800px;
	margin:auto;
}

a {
	color:var(--link);
}

a:hover {
	color: var(--linkhover);
}

li a {
	text-decoration:none;
}

p {
	margin:10px 0px 10px 0px;
	line-height:1.5;
}

main h1 {
	font:26pt Georgia, Times New Roman, serif;
	margin:5px 0 5px 0;
}

main h2 {
	margin:10px 0 10px 0;
	font:23pt Georgia, Times New Roman, serif;
}

main h3 {
	margin:5px 0 5px 0;
	font: 18.5pt Georgia, Times New Roman, serif;
}

main h4 {
	font:13pt Georgia, Times New Roman, serif;
	font-style:italic;
	margin:5px 0 20px 0;
}

main input, textarea, select, button { 
	background: var(--formbg);  
	color: var(--formcolor);
	font: 12pt sans-serif; 
	border: 1px solid var(--hr); 
	padding: 5px; 
	margin: 5px;
	border-radius:5px;
}

main textarea {
	width:90%;
}

input[type="submit"], input[type="reset"] {
	font-size:13pt;
	background:var(--accentbg);
}

input[type="submit"]:hover, input[type="reset"]:hover {
	background:var(--hr);
	cursor:pointer;
}

main table {
	margin:10px auto 10px auto;
	padding:5px;
	width:100%;
	border-collapse:collapse;
}

main th {
	border-bottom:1px solid var(--hr);
	padding:5px;
	text-align:left;
}

main td {
	padding:3px;
}

main tr:nth-child(2n) {
	background:var(--accentbg);
}

main ul, ol { 
	list-style-position: outside;
	margin: 8px 0 8px 20px;
}

main li {
	margin:5px 0 5px 0;
	line-height:1.5;
}

main ul li ul, main ol li ol {
	margin-left:15px;
}

main blockquote {
	padding:10px;
	border-left:10px solid var(--hr);
	background:var(--accentbg);
}

main blockquote cite {
	font-size:11pt;
	position:relative;
	right:0;
}

main summary {
	cursor:pointer;
	margin: 5px 0px 5px 0px;
}

main details {
	padding:10px;
	background:var(--accentbg);
	margin:5px 0 5px 0;
    border-radius:5px;
}

main hr {
	border:0.5px solid var(--hr);
    margin:20px auto 20px auto;
}

main pre {
	padding:10px;
	background:var(--accentbg);
	margin:10px auto 10px auto;
	border-radius:5px;
	overflow:auto;
}

footer {
	text-align: center;
	border-top: 0.5px solid var(--hr);
	padding: 0.625rem;
}

/* #site-updates {
	max-height: 300px;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--formbg) var(--link);
	font-size: 17px;
	padding: 20px;
	border-style: dashed;
}*/

@media (prefers-color-scheme: dark) {

	main img {
		opacity:0.6;
	}
	
	main img:hover {
		opacity:1;
	}

	main a img:hover {
		opacity:1;
	}
}
