@font-face {
font-family: 'Alphabetized Cassette Tapes';
src: url('Alphabetized Cassette Tapes.ttf') format('truetype'); }
@font-face {
font-family: 'Lofi Lifestyle';
src: url('Lofi Lifestyle.otf') format('opentype'); }
 
        @keyframes blinker {
            50% {
                opacity: 0;
            }
}
         .blink {
            animation: blinker 1.2s linear infinite;
       
        }     
body {
background: url('green_dust_scratch.png');
font-family: Alphabetized Cassette Tapes;
font-size: 33px;
color: #000000;
text-align: justify; }
a {
color: #3f7582;
text-decoration: none;
transition: all .7s linear; }
a:hover {
opacity: .6; }

#info {
width: 1000px;
box-shadow: rgba(0,0,0,0.1) -3px 3px 3px;
background: rgba(77,174,198,0.3);
border: 1px solid #629ba6;
border-radius: 5px;
font-size: 25px;
margin: 75px auto 0 auto; }
#infotitle {
margin-top: 16px;
font-size: 31px;
font-family: lofi lifestyle;
font-weight: bold;
margin-bottom: 10px; }
#infocontainer {
padding-left: 20px;
}
#info-icon {
float: left;
margin: 0 10px 5px 0; }
#info-icon img {
border-radius: 5px;
width: 64px; }
#infolinkbar {clear:both;
margin: 10px 0px 0 0px; 
border-top: 1px solid #629ba6; }
.linkbarlink {display: inline-block;width:100px;
text-align:center;padding: 6px 0 6px 0;
border-left: 1px solid #629ba6; }
.linkbarlink:first-child {
border: 0px; }
#infocontainer {
width: 560px;
padding-right: 40px;
float: left; }
#infobookmarks {
float: left;
padding-left: 10px;
padding-top: 20px;
border-left: 1px solid #629ba6; }
#infologin {
margin-left:850px;
height: 147px;
margin-bottom: -10px;
padding-top: 75px;
border-left: 1px solid #629ba6;  }
.neocitieslogin {display:block;text-align: center;
 border-bottom: 1px solid #629ba6; }
.neocitieslogin:first-child {
border-top: 1px solid #629ba6;
    
}

#lists {
margin-top: 40px;
margin-left: 70px;
margin-right: 70px;
font-size: 28px; }
.column {
float: left;
width: 33.33%; }

.columninterior {
padding-right: 30px; }

/* CHANGE THESE TO CHANGE THE LIST COLORS */
.drizzle,.blue,.blur,.leaves,.raindrops,.lavender {
margin-top: 30px;
box-shadow: rgba(0,0,0,0.1) -2px 2px 7px; 
border-radius: 5px;}
.drizzle {
background: rgba(9,188,176,0.3); }
.drizzle .head {
border-color: #68a49f; }
.drizzle .foot, .drizzle a, .drizzle .read-more {
color: #68a49f; }
.blue {
background: rgba(17,200,224,0.3); }
.blue .head {
border-color: #5ea2a9; }
.blue .foot, .blue a, .blue .read-more {
color: #5ea2a9; }
.blur {
background: rgba(58,101,209,0.3); }
.blur .head {
border-color: #196087; }
.blur .foot, .blur a, .blur .read-more {
color: #196087; }
.leaves {
background: rgba(33,188,170,0.3); }
.leaves .head {
border-color: #1bad9c; }
.leaves .foot, .leaves a, .leaves .read-more {
color: #1bad9c; }
.raindrops {
background: rgba(19,175,115,0.3) }
.raindrops .head {
border-color: #308760; }
.raindrops .foot, .raindrops a, .raindrops .read-more {
color: #308760; }
.lavender {
background: rgba(67,51,191,0.3) }
.lavender .head {
border-color: #5e6a8e; }
.lavender .foot, .lavender a, .lavender .read-more {
color: #5e6a8e; }


.head {
font-family: Lofi Lifestyle;
padding: 10px 0 0 0;
border-bottom: 1px solid; }
.foot {
font-family: lofi lifestyle;
font-size: 20px;
padding: 0 10px 10px 10px;
text-align: right; }
.title {
font-size: 35px;
font-weight: bold;
padding: 0 10px; }
.subtitle {
font-size: 30px;
font-weight: normal; }
.listcontent {
padding: 20px 20px 40px 20px; }
.listicon {
float: right;
padding: 0 0 5px 10px; }
.listicon img {
border-radius: 5px; }
.listtext {
white-space: pre-line;
overflow: hidden;
height: 100%;
max-height: 227px;
transition: max-height .75s; }
.listtext ul {
margin: 0;
white-space: normal; }
.listimage {
text-align: center;
margin: 0 auto;
width: 140px;
height: 140px;
overflow: hidden;
border-radius: 5px; }
.listimage img {
position: relative;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%); }
.row:after {
content: "";
display: table;
clear: both; }



#list-ol,#list-guide,#list-about,#list-privacy,#list-terms,#list-contact { display: none;
 position: fixed;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
z-index: 2;
}
.bubbleinner {
 width: 800px;
margin: 0 auto;
border-radius: 5px;
box-shadow: rgba(0,0,0,0.1) -3px 3px 3px;
}
.bubbleinner .foot {
font-family: lofi lifestyle;
font-size: 20px;background: rgba(77,174,198,0.8);
padding: 0 10px 10px 10px;
border-radius: 0 0 5px 5px;
text-align: right;
border-right: 1px solid #629ba6;
border-left: 1px solid #629ba6;
border-bottom: 1px solid #629ba6; }
.bubblehead {
font-family: Lofi Lifestyle;
padding: 10px 0 0 0;background: rgba(77,174,198,0.8);
border: 1px solid #629ba6;border-radius: 5px 5px 0 0; }
.bubbletitle {
font-size: 35px;
font-weight: bold;
padding: 0 10px; }
.bubblecontent {background: rgba(77,174,198,0.8);
border-right: 1px solid #629ba6;
border-left: 1px solid #629ba6;
padding: 20px 20px 40px 20px; }

#floorfoot {
background: rgba(77,174,198,0.3);
border: 1px solid #629ba6;
font-size: 25px;
margin: 75px auto 30px auto;
border-radius: 5px;
width: 500px;
box-shadow: rgba(0,0,0,0.1) -3px 3px 3px;
text-align: center;}


.read-more {
position: relative;
    left: 50%;
    transform: translateX(-50%);
margin-top: 15px;
font-family: alphabetized cassette tapes;
font-size: 28px;
  background: none;
  border: none;
  outline: none; font-weight: normal;
transition: all .7s linear;
cursor: pointer;
}
.read-more:hover {
opacity: .6; 
}
.read-more:focus {
  outline: none;
}
.read-more::-moz-focus-inner {
  border: 0;
}

.hid {
  display: none;
}


@media screen and (max-width : 600px) {

  #info {display:none;}
  #lists {
   margin: 0;width:100%;
  }
.column,.row {
width: 100%; }
  .columninterior {
    padding-right: 0;
  }
.drizzle,.blue,.blur,.leaves,.raindrops,.lavender {
margin-top: 0;
    margin-bottom: 10px;
  }

  #floorfoot {
    margin-top: 0px;
margin-bottom: 10px;
    width: 90%
  }
  #list-about,#list-privacy,#list-ol,#list-terms,#list-contact,#list-guide{
   height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
margin-bottom: 10px;
    transform: none; }
.bubbleinner {
  width: 100%;height:100%
} }