@font-face {
font-family: 'Alphabetized Cassette Tapes';
src: url('Alphabetized Cassette Tapes.ttf') format('truetype'); }
@font-face {
font-family: 'Lofi Lifestyle';
src: url('Lofi Lifestyle.otf') format('opentype'); }
 
        @keyframes blinker {
            50% {
                opacity: 0;
            }
}
         .blink {
            animation: blinker 1.2s linear infinite;
       
        }     
body {
background: url('hip-square orange.png');
font-family: Alphabetized Cassette Tapes;
font-size: 33px;
color: #000000;
text-align: justify; }
a {
color: #663d00;
text-decoration: none;
transition: all .7s linear; }
a:hover {
opacity: .6; }

#info {
width: 1000px;
box-shadow: rgba(0,0,0,0.1) -3px 3px 3px;
background: #FFF8E9;
font-size: 25px;
margin: 75px auto 0 auto;
border-radius: 5px; }
#infotitle {
margin-top: 16px;
font-size: 31px;
font-family: lofi lifestyle;
font-weight: bold;
margin-bottom: 10px; }
#infocontainer {
padding-left: 20px;
}
#info-icon {
float: left;
margin: 0 10px 5px 0; }
#info-icon img {
border-radius: 5px;
width: 64px; }
#infolinkbar {clear:both;
margin: 10px 0px 0 0px; 
border-top: 1px solid #A87F26; }
.linkbarlink {display: inline-block;width:100px;
text-align:center;padding: 6px 0;
border-left: 1px solid #f4e2ba; }
.linkbarlink:first-child {
border: 0px; }
#infocontainer {
width: 560px;
padding-right: 40px;
float: left; }
#infobookmarks {
float: left;
padding-left: 10px;
padding-top: 20px;
border-left: 1px solid #e8cb8d; }
#infologin {
margin-left:850px;
height: 147px;
margin-bottom: -10px;
padding-top: 75px;
border-left: 1px solid #e8cb8d;  }
.neocitieslogin {display:block;text-align: center;
 border-bottom: 1px solid #f4e2ba; }
.neocitieslogin:first-child {
border-top: 1px solid #f4e2ba;
    
}

#lists {
margin-top: 40px;
margin-left: 70px;
margin-right: 70px;
font-size: 28px; }
.column {
float: left;
width: 33.33%; }

.columninterior {
padding-right: 30px; }

/* CHANGE THESE TO CHANGE THE LIST COLORS */
.dusk,.dawn,.burnt,.berry,.bloom,.dusty {
border-radius: 5px;
margin-top: 30px;
box-shadow: rgba(0,0,0,0.1) -2px 2px 7px; }
.dusk {
background: #F4A960; }
.dusk .head {
border-color: #EC6414; }
.dusk .foot, .dusk a, .dusk .read-more {
color: #EC6414; }
.dawn {
background: #F1BD58; }
.dawn .head {
border-color: #E68912; }
.dawn .foot, .dawn a, .dawn .read-more {
color: #E68912; }
.burnt {
background: #D39457; }
.burnt .head {
border-color: #B13F11; }
.burnt .foot, .burnt a, .burnt .read-more {
color: #B13F11; }
.berry {
background: #F27D6A; }
.berry .head {
border-color: #E81916; }
.berry .foot, .berry a, .berry .read-more {
color: #E81916; }
.bloom {
background: #CE6C88; }
.bloom .head {
border-color: #A81629; }
.bloom .foot, .bloom a, .bloom .read-more {
color: #A81629; }
.dusty {
background: #D296A7; }
.dusty .head {
border-color: #AF4361; }
.dusty .foot, .dusty a, .dusty .read-more {
color: #AF4361; }

.head {
font-family: Lofi Lifestyle;
padding: 10px 0 0 0;
border-bottom: 1px solid; }
.foot {
font-family: lofi lifestyle;
font-size: 20px;
padding: 0 10px 10px 10px;
text-align: right; }
.title {
font-size: 35px;
font-weight: bold;
padding: 0 10px; }
.subtitle {
font-size: 30px;
font-weight: normal; }
.listcontent {
padding: 20px 20px 40px 20px; }
.listicon {
float: right;
padding: 0 0 5px 10px; }
.listicon img {
border-radius: 5px; }
.listtext {
white-space: pre-line;
overflow: hidden;
height: 100%;
max-height: 227px;
transition: max-height .75s; }
.listtext ul {
margin: 0;
white-space: normal; }
.listimage {
text-align: center;
margin: 0 auto;
width: 140px;
height: 140px;
overflow: hidden;
border-radius: 5px; }
.listimage img {
position: relative;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%); }
.row:after {
content: "";
display: table;
clear: both; }



#list-ol,#list-guide,#list-about,#list-privacy,#list-terms,#list-contact { display: none;
 position: fixed;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
z-index: 2;
}
.bubbleinner {
 width: 800px;
border-radius: 5px;
margin: 0 auto;
box-shadow: rgba(0,0,0,0.1) -3px 3px 3px;
background: #FFF8E9;}
.bubblefoot {
font-family: lofi lifestyle;
font-size: 20px;
padding: 0 10px 10px 10px;
text-align: right; }
.bubblehead {
font-family: Lofi Lifestyle;
padding: 10px 0 0 0;
border-bottom: 1px solid #A87F26; }
.bubbletitle {
font-size: 35px;
font-weight: bold;
padding: 0 10px; }
.bubblecontent {
padding: 20px 20px 40px 20px; }

#floorfoot {
background: #FFF8E9;
padding: 5px;
font-size: 25px;
margin: 75px auto 30px auto;
width: 500px;
box-shadow: rgba(0,0,0,0.1) -3px 3px 3px;
text-align: center;
border-radius: 5px; }


.read-more {
position: relative;
    left: 50%;
    transform: translateX(-50%);
margin-top: 15px;
font-family: alphabetized cassette tapes;
font-size: 28px;
  background: none;
  border: none;
  outline: none; font-weight: normal;
transition: all .7s linear;
cursor: pointer;
}
.read-more:hover {
opacity: .6; 
}
.read-more:focus {
  outline: none;
}
.read-more::-moz-focus-inner {
  border: 0;
}

.hid {
  display: none;
}


@media screen and (max-width : 600px) {

  #info {display:none;}
  #lists {
   margin: 0;width:100%;
  }
.column,.row {
width: 100%; }
  .columninterior {
    padding-right: 0;
  }
  .dusty,.dawn,.berry,.burnt,.bloom,.dusk {
margin-top: 0;
    margin-bottom: 10px;
  }

  #floorfoot {
    margin-top: 0px;
margin-bottom: 10px;
    width: 90%
  }
  #list-about,#list-privacy,#list-ol,#list-terms,#list-contact,#list-guide{
   height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
margin-bottom: 10px;
    transform: none; }
.bubbleinner {
  width: 100%;height:100%
} }